{% load static %} {% load compress %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %} {% endblock %}</title>

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    {% compress css %}
    <link
      type="text/x-scss"
      href="{% static 'bootstrap/scss/bootstrap.scss' %}"
      rel="stylesheet"
      media="screen"
    />
    {% endcompress %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
