{% extends 'base.html' %} {% block content %} {% load static %}
<h1 class="my-4">My Team</h1>
<!-- Team roster -->
<div class="team-roster">
  <h2>Roster</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Points</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for player, points in roster_with_points %}
      <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.position }}</td>
        <td>{{ player.team }}</td>
        <td>{{ points }}</td>
        <td>
          <button type="button" class="btn btn-danger" onclick="dropPlayer({{ player.id }})">Drop</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<!-- Trade players -->
<div class="trade-players my-4">
  <h2>Player Transaction</h2>
  <form method="post" action="{% url 'trade_player' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="my_player">Search a player to add:</label>
      <div>
        <div>
          <form id="searchForm" method="POST" onsubmit="return false;">
            <input type="text" id="searchInput" name="search_input" onkeyup="searchPlayers()" placeholder="Search for players..." />
            <div id="suggestions" class="suggestions"></div>
          </form>
        </div>
        <!-- Add this new div element to display the selected player's information -->
        <div id="selected-player" style="display: none;"></div>
    </div>
    <div class="form-group">
      <label for="id_player_to_drop">Select a player from your roster to drop:</label>
      {{ trade_form.player_to_drop }}
    </div>
    <!-- Add a button to propose the transaction -->
    <button type="button" class="btn btn-primary" id="propose-transaction" onclick="proposeTransaction()">Propose Transaction</button>
  </form>
</div>


<!-- Set lineup -->
<div class="set-lineup my-4">
  <h2>Set Lineup</h2>
  <form method="post" action="{% url 'set_lineup' %}">
    {% csrf_token %}
    <!-- Add form fields to set the lineup based on your league rules and scoring system -->
    <button type="submit" class="btn btn-primary">Set Lineup</button>
  </form>
</div>

<!-- Team activity -->
<div class="team-activity my-4">
  <h2>Team Activity</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Action</th>
        <th>Player Involved</th>
      </tr>
    </thead>
    <tbody>
      {% for activity in team_activity %}
      <tr>
        <td>{{ activity.date }}</td>
        <td>{{ activity.action }}</td>
        <td>{{ activity.player.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
% {% endblock %}
